.content{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.utilsfloat{
  position: fixed;
  right: 15px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.utilsfloat > Button {
  text-transform: none;
  border: 1px solid lightgray;
  margin-bottom: 8px;
  border-radius: 20px;
  color: black;
  font-size: 13.5px;
}

.utilsfloat > .utilsfloat__icon {
  background-color: red;
  padding: 4px;
  color: white;
  transform: rotate(-90deg);
  border-radius: 25px;
  font-size: 32px;
}
