@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    font-size: 18px;
    margin: 0;
  }

}
